.slider{
  position: relative;
  border: 1px solid;
  margin: 20px 20px;
  &__handler{
    position: absolute;
    width: 20px;
    height: 18px;
    background-color: cornflowerblue;
    cursor: pointer;

    &_horizontal{
      top: -4px;
      transform: translate(-10px, 0px);
    }
    &_vertical{
      left: -5px;
      transform: translate(0px, -10px);
    }
  }
  &_horizontal{
    height: 10px;
  }
  &_vertical{
    width: 10px;
    height: 200px;
  }
}