.slider{
  position: relative;
  border: 1px solid;
  margin: 30px 20px;
  &__handler{
    position: absolute;
    width: 20px;
    height: 18px;
    background-color: cornflowerblue;
    cursor: pointer;

    &_horizontal{
      top: -4px;
      transform: translate(-10px, 0px);
    }
    &_vertical{
      left: -5px;
      transform: translate(0px, -10px);
    }
  }
  &__tooltip{
    position: absolute;
    display: none;
    padding: 1px 8px;
    border: 1px solid;
    cursor: default;
    &_showed{
      display: block;
    }
    &_vertical{
      top: -2px;
      right: -10%;
      transform: translate(100%, 0);
    }
    &_horizontal{
      top: -21px;
      transform: translate(-50%, 0);
      left: 50%;
    }
  }
  &_horizontal{
    height: 10px;
  }
  &_vertical{
    width: 10px;
    height: 200px;
  }
}