.slider{
  position: relative;
  border: 1px solid;
  margin: 20px 20px;
  &__handler{
    position: absolute;
    width: 20px;
    height: 18px;
    top: -4px;
    background-color: cornflowerblue;
    cursor: pointer;
    transform: translate(-10px, 0px);
  }
  &_horizontal{
    height: 10px;
  }
  &_vertical{
    width: 20px;
  }
}